<main>

  <section class="m-0 p-0">

    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-6">{{fullName}}</div>
          <div class="col-6 text-end">{{priject}}</div>
        </div>

      </div>
    </div>

  </section>

  {{!-- --- --}}

  <section class="m-0 p-0 mt-3">
    <p>{{text}}</p>
  </section>

  {{!-- --- --}}

  <section class="m-0 p-0">

    <div class="row">

      <div class="card col-3" style="border: 0;">

        {{#each listPages}}

        <a href="{{link}}" class="btn btn-primary mb-2">{{text}}</a>

        {{/each}}

      </div>

    </div>

  </section>

</main>