<main>

  {{! 1 }}

  <section class='row'>

    <div class='card col-12 mb-5'>
      <div class='nav py-2'>

        {{#each navigation.links}}

        <div class='nav-item'>
          <a href='{{href}}' class='nav-link ps-1'>{{text}}</a>
        </div>

        {{/each}}

        <div class='pt-2 ps-3'>Disabled</div>

      </div>
    </div>

  </section>

  {{! 2 }}

  <section class='row'>

    <div class='col-8 ps-0'>

      <div class='h1'>{{formBlock.header}}</div>

      <div class='mt-4 fs-5'>{{formBlock.rating.title}}: {{formBlock.rating.value}}</div>

      <div class="nav nav-tabs mt-5">

        {{#each formBlock.actionBlock.tabs}}
        <div class="nav-item flex-sm-fill text-sm-center"><a href="#"
            class="nav-link {{#if isActive}}active fs-6 fw-bold{{/if}}">{{text}}</a>
        </div>
        {{/each}}

      </div>

      <div class="py-5 text-dark">
        <hr>
      </div>

      {{!-- --- --}}

      {{#with formBlock}}

      <div class="card">

        <div class="card-body">

          {{#with actionBlock.report}}

          <div class="h5">{{title}}</div>

          {{#with button}}
          <a href="{{link}}" class="btn btn-secondary fs-5">{{text}}</a>
          {{/with}}

          {{/with}}

        </div>

      </div>

      <div class="py-5 text-dark">
        <hr class="border border-secondary border-1 opacity-50">
      </div>

      {{!-- --- --}}

      {{#with feedbackBlock}}

      <div class='h1'>{{title}}</div>

      <div class="mt-5">
        {{#each buttons}}
        <a href="{{link}}"
          class="btn btn-lg {{#if isWarning}}btn-warning{{/if}} {{#if isSuccess}}btn-success{{/if}} {{#if isDanger}}btn-danger{{/if}}"
          style="color: #fff;">{{text}}</a>
        {{/each}}
      </div>

      {{/with}}

      {{/with}}

    </div>

    <div class='col-4'>

      {{#with formBlock}}

      {{#with goodsInfo}}

      <div class="card mb-3">
        <div class="card-body">

          <img src="{{photo}}" alt="{{name}}" class="rounded">

          <div class="mt-2 fs-4">{{name}}</div>

        </div>
      </div>

      <div class="card mb-3">
        <div class="card-body">

          <div class="h4">{{price}}</div>

          <div class="h5">
            {{#if inMarket}}Є в наявності{{else}}Балалайка{{/if}}
          </div>

          {{#each buttons}}
          <div {{#if @first}}class="mb-2" {{/if}}>
            <a href="{{link}}"
              class="btn btn-lg {{#if isPrimary}}btn-primary{{/if}} {{#if isSecondary}}btn-secondary{{/if}} {{#if isDanger}}btn-danger{{/if}}"
              style="color: #fff;">{{text}}</a>
          </div>
          {{/each}}

        </div>
      </div>

      <div class="card">
        <div class="card-body">

          <div class="fs-5">{{seller.title}}: <b>{{seller.value}}</b></div>

        </div>
      </div>

      {{/with}}

      {{/with}}

    </div>

    {{!-- --- --}}

    <div class="py-5 text-dark">
      <hr class="border border-secondary border-1 opacity-50">
    </div>

    {{#each reviewList}}

    <div class="card mb-5">
      <div class="card-body">

        <div class="card">

          <div class="card-header bg-transparent">

            <div class="fs-4 fw-bold">{{title.userName}}</div>
            <div class="fs-5">{{title.caption}}</div>
            <div class="fs-5"><time>{{title.date}}</time></div>

          </div>

          <div class="card-body">

            {{#with reviewBody}}
            <div class="fs-5 mb-4">{{seller.title}}: {{seller.value}}</div>
            <div class="fs-5 mb-4">{{rating.title}}: {{rating.value}}</div>

            {{#each text}}
            <div class="fs-5 mb-4">{{this}}</div>
            {{/each}}

            <div class="fs-5 fw-bold">{{advantages.title}}:</div>
            <div class="fs-5 mb-4">{{advantages.text}}</div>

            <div class="fs-5 fw-bold">{{disadvantages.title}}:</div>
            <div class="fs-5 mb-4">{{disadvantages.text}}</div>

            <div>
              {{#each images}}
              <img src="{{this}}" alt="" class="rounded me-2">
              {{/each}}
            </div>

            {{/with}}

          </div>

        </div>

        <div class="row">

          <div class="col-1"></div>

          <div class="col-11">

            {{#each reviewBody.coments}}
            <div class="card mt-5">
              <div class="card-body">
                <div class="fs-4 fw-bold">{{userName}}</div>
                <div class="fs-5">{{date}}</div>
                <div class="fs-5"><time>{{text}}</time></div>
              </div>
            </div>

            {{/each}}

          </div>

        </div>

      </div>
    </div>

    {{/each}}

    {{!-- --- --}}

    {{#with service}}

    <div class='card my-4 pb-1 text-center text-bg-success'>

      <div class='card-body m-0 p-0 mt-3'>

        <h2 class='card-haeding'>
          {{title}}
        </h2>

        <p class='mt-4'>{{description}}</p>

        {{#each buttons}}

        <div class='col-12 pb-2'>

          <a href='{{link}}' class='btn btn-primary'>{{text}}</a>

        </div>

        {{/each}}

      </div>

    </div>

    {{/with}}

    <div class="mt-4">
      <hr>
    </div>

    {{#each footer}}

    <ul class='nav flex-column col-2'>

      {{#each this}}

      <li class='nav-item'>

        <a class='nav-link  

            {{#if @last}}
              disabled
            {{/if}}' href='{{link}}'>{{text}}</a>

      </li>

      {{/each}}

    </ul>

    {{/each}}

  </section>

</main>