<div>
    <main>
        <section>

         <div class="card">
            <div class="card-body">
                <div class="h1">
                    {{heading.main.title}}
                </div>
                <p>{{heading.main.text}}</p>
                <button type="button" class="btn btn-primary">{{heading.main.button_text.solid}}</button><br><br>
                <button type="button" class="btn btn-outline-primary">{{heading.main.button_text.outline}}</button>
            </div>
         </div>   
            <br>
         <div class="card">
            <div class="card-body">
                <div class="h2">
                    {{heading.second.title}}
                </div>
                <p>{{heading.second.text}}</p>
                <button type="button" class="btn btn-secondary">{{heading.second.button_text.solid}}</button><br><br>
                <button type="button" class="btn btn-outline-secondary">{{heading.second.button_text.outline}}</button>
            </div>
         </div>                                                                            
            <br>
         <div class="card">
            <div class="card-body">
                <div class="h3">
                    {{heading.subblock.title}}
                </div>
                <p>{{heading.subblock.text}}</p>
                <button type="button" class="btn btn-dark">{{heading.subblock.button_text.solid}}</button><br><br>
                <button type="button" class="btn btn-outline-dark">{{heading.subblock.button_text.outline}}</button>
            </div>
         </div>  
            <br>
         <div class="card">
            <div class="card-body">

                <div class="display-1">
                    {{nested_display.title}}
                </div>
                        
                <div class="card">
                    <div class="card-body">

                        <div class="display-4">
                            {{nested_display.children_display.title}}
                        </div>

                        <p>{{nested_display.children_display.text}}</p>
                        <button type="button" class="btn btn-outline-warning">{{nested_display.children_display.button.text}}</button>

                    </div>

                </div>  
                <br>
                <div class="h6">
                    {{nested_display.header_text}}
                </div>

                <button type="button" class="btn btn-info" style="color:#fff">{{nested_display.button.text}}</button>

                </div>
            </div>  
            <br>
            <div class="card">
                <div class="card-body">

                    <p class="text-uppercase">{{paragraph.title}}</p>
                    <p class="text-lowercase">{{paragraph.text}}</p>

                     <a href="{{paragraph.button.url}}" class="btn btn-link">{{paragraph.button.text}}</a><br><br>

                    <div class="card">
                        <div class="card-body">

                            <ul>
                                <li>
                                    <a href="{{paragraph.list_name.[0].url}}" class="btn btn-link">{{paragraph.list_name.[0].text}}</a>
                                </li>
                                <br>
                                <li>
                                    <a href="{{paragraph.list_name.[1].url}}" class="btn btn-link">{{paragraph.list_name.[1].text}}</a>
                                </li>
                            </ul>
                    
                         </div>
                     </div>

                </div>
            </div>

        </section>
    </main>
</div>