<div>
    <main>
        <section>

            <div class="h1 text-center">{{page_header.title}}</div><br>
            <div class="text-uppercase text-center">{{page_header.description}}</div><br>

            <div class="card">
                <div class="card-body">

                    <div class="display-6 text-end">{{section.about_us.title_list.main}}</div><br>
                    <div class="h2 text-end">{{section.about_us.title_list.sub}}</div><br>
                    <button type="button" class="btn btn-outline-info">{{section.about_us.button.text}}</button>

                </div>
            </div>
            
            <br>

            <div class="card">
                <div class="card-body">

                    <div class="display-5 text-secondary"><b>{{section.advantage.title}}</b></div><br>

                    <div class="card">
                        <div class="card-body">

                            <div class="display-4 text-secondary"><b>{{section.advantage.efficiency.title}}</b></div><br>

                            <div class="h6">{{section.advantage.efficiency.sub_title}}</div><br>

                            <p>{{section.advantage.efficiency.description}}</p>

                            <button type="button" class="btn btn-outline-warning">{{section.advantage.efficiency.button}}</button>

                        </div>
                    </div>
                    <br>  
                    <div class="card">
                        <div class="card-body">

                            <div class="display-4 text-secondary text-center"><b>{{section.advantage.innovation.title}}</b></div><br>

                            <div class="h6 text-center">{{section.advantage.innovation.sub_title}}</div><br>

                            <p class="text-center">{{section.advantage.innovation.description}}</p>

                            <button type="button" class="btn btn-outline-warning">{{section.advantage.innovation.button}}</button>

                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                        
                            <div class="display-4 text-secondary text-end"><b>{{section.advantage.collaboration.title}}</b></div><br>

                            <div class="h6 text-end">{{section.advantage.collaboration.sub_title}}</div><br>

                            <p class="text-end">{{section.advantage.collaboration.description}}</p>

                            <button type="button" class="btn btn-outline-warning">{{section.advantage.collaboration.button}}</button>

                        </div>
                    </div>

                </div>
            </div>

            <br>
            <div class="card">
                <div class="card-body">
                    <div class="display-5"><b>{{section.agreement.title}}</b></div><br>
                    <div class="card">
                        <div class="card-body">
                            <div class="h5">{{section.agreement.info.sub_title}}</div><br>
                            <div class="card">
                                <div class="card-body">
                                    <p>{{section.agreement.info.detail.text}}</p><br>
                                    <button class="btn btn-success">{{section.agreement.info.detail.button}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>