{{#each data}}

<div class="col-6">

    <div class="card">
        <img src="{{img}}" alt="{{name}}" class=" card-img-top">
        <div class="card-body">

            <div>
                {{#if isHot}}
                <span class="badge text-bg-warning rounded-pill text-uppercase fw-normal fs-6">Hot!</span>
                {{/if}}

                {{#if isNew}}
                <span class="badge text-bg-primary rounded-pill fw-normal fs-6 ms-2">Нове</span>
                {{/if}}
            </div>

            <div>
                {{#if isFast}}
                <h4 class="mt-3"><span class="badge fw-normal" style="background-color: #1f8351;">Швидка доставка</span>
                </h4>
                {{/if}}
                {{#if isFree}}
                <h4 class="mt-3"><span class="badge fw-normal" style="background-color: #707179;">Безкоштовна
                        доставка</span>
                </h4>
                {{/if}}
            </div>

            <div class="h3 mt-3">{{name}}</div>

            <div class="fs-5 mt-3">{{review.amount}} {{review.text}}</div>

            <div class="h2 mt-3">{{price}}</div>

            <div class="fs-5 mt-3">{{delivery}}</div>

            <div class="mt-4">
                {{#each buttons}}
                <div><a href="{{link}}"
                        class="btn btn-lg {{#if isPrimary}} btn-primary {{/if}} {{#if isSecondary}} btn-secondary {{/if}} mb-3">{{text}}</a>
                </div>
                {{/each}}
            </div>

            <div class="fs-5">

                <ul>
                    {{#each characteristics}}
                    <li>{{title}}: {{value}}</li>
                    {{/each}}
                </ul>

            </div>

        </div>

    </div>

</div>

{{/each}}